{% extends "bootstrap/base.html" %}

{% block title %}Social Community Network{% endblock %}

{% block head %}
{{ super() }}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon">
<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

<!--Added By Akhileh for Profile-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!--Code Ended-->


{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<!--{{ moment.locale('es') }} &lt;!&ndash;localization feature&ndash;&gt;-->
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if g.user.role != 'admin' %}
            <a class="navbar-brand" href="/home"><i class="fa fa-home" aria-hidden="true"></i> Social Community</a>
            {% else %}
            <a class="navbar-brand" href="/admin"><i class="fa fa-home" aria-hidden="true"></i> Social Community</a>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                {% if g.user.role == 'admin' %}
                <li><a href="/requestedCommunities">Approve Communitites</a></li>
                <li><a href="/messages">Messages</a></li>
                {% else %}
                {% if g.user.role == 'moderator' %}
                <li><a href="/requestedtojoincommunitites">Approve Request</a></li>
                <li><a href="/messages">Messages</a></li>
                {%endif%}
                {% if g.user.role == 'user' %}
                <li><a href="/messages">Messages</a></li>
                {% endif %}
                <li><a href="/new_community">Community<i class="fa fa-plus" aria-hidden="true"></i> </a></li>
                {% endif %}
                {% if g.user.role != 'user' %}
                <li><a href="/messageToOtherModerator">Inter Community</a></li>
                {% endif %}
                {%endif%}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="/mails"> <i class="fa fa-envelope" aria-hidden="true"></i> Mails </a></li>
                <li><a href="/profile/{{current_user.username}}">Hi {{ current_user.username }}</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                {% else %}
                <li><a href="{{ url_for('new_user')}}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                </li>
                <li><a href="{{ url_for('login') }}"><i class="fa fa-user" aria-hidden="true"></i> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" id="flashMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% block page_content %}{% endblock %}
</div>
<script>
     setTimeout(function() {
            $('#flashMessage').fadeOut('fast');
            }, 1000);

</script>
{% endblock %}
