{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="row">
    <div class="col-md-3 col-xs-4 " style="text-align:center; padding-right:0px;">
        <div class="affix" style="width: 22.5%;">
                <img src="{{communityObj.gravatar(size=256)}}" alt="John" style="width:25%; border-radius: 50%; margin:auto;">
                <h2>{{communityObj.name}}</h2>
                <h5>{{communityObj.description}}</h5>
                <h6>{{communityObj.address}}</h6>
                <h6><a href="http://maps.google.com/?q={{ communityObj.city }}">{{ communityObj.city }} - {{communityObj.zip_code}}</a></h6>
            <br/>
            {% if current_user.username == moderator %}
            <div>
                <a class="btn btn-default" href="/edit_community/{{communityObj.ID}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Community</a>
            </div>
            {% endif %}
            <br/>
            <div class="managedBy">
                <h4>ManagedBy: </h4>
                <div >
                    <a href="{{'/profile/%s'%moderator}}"> {{moderator}}</a>
                 </div>
                {% if current_user.role != 'moderator' %}
                <br/>
                <div>
                    <a class="btn btn-default" href="/msgtomoderator/{{communityObj.ID}}">Message to {{moderator}}</a>
                </div>
                {% endif %}
            </div>
            <hr/>
            <div>
                Members:
                <hr/>

                <ul class="listCommunities">
                    {% if members %}
                    {% for member in members %}
                    <li class="btntype">
                        <a href={{'/profile/%s'%member}}>{{member}}</a>
                    </li>
                    {% endfor %}
                    {% else %}
                    <h3>No members</h3>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8" style="border-left: 1px solid black">
        <div class="row" style="overflow: auto;">
            {% include '_posts.html' %}
        </div>
    </div>
</div>

</div>

<script>
        function Disable(elm){
        console.log($(elm).attr('data-id'))
         $.ajax({
             url: '/disable',
             data: {
                 id: $(elm).attr('data-id')
             },
             type: 'POST',
             success: function (res) {
                 var response = $.parseJSON(res)
                 if(response.status == 200)
                     location.reload()
             },
             error: function (error) {
                 console.log(error);
             }
         });
     }

         function Enable(elm){
            console.log($(elm).attr('data-id'))
             $.ajax({
                 url: '/enable',
                 data: {
                     id: $(elm).attr('data-id')
                 },
                 type: 'POST',
                 success: function (res) {
                     var response = $.parseJSON(res)
                     if(response.status == 200)
                         location.reload()
                 },
                 error: function (error) {
                     console.log(error);
                 }
             });
         }

</script>

{% endblock %}