{% extends "_base.html" %}
{% block title %}Join/Leave Communities{% endblock %}
{% block page_content %}
<div class="container" style="text-align:center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Approve the user Requested to Join</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" style="text-align: center">
                        {% if response %}
                        <tr>
                            <th align="center">Name</th>
                            <th align="center">User</th>
                            <th align="center">Accept/Decline</th>
                        </tr>

                        {% for data in response %}
                        <tr>
                            <td>{{data.community_name}}</td>
                            <td>{{data.username}}</td>
                            <td>
                                <a data-id={{data.community_id}} data-user={{data.username}} class="btn btn-success" onclick="AcceptRequest(this)" style="margin-right:5px">Accept</a>
                                <a data-id={{data.community_id}} data-user={{data.username}} class="btn btn-danger" onclick="DeclineRequest(this)">Decline</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <p>There is not any community you have not joined. So now create one more.</p>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="pull-right"><a href="/home"> Return </a></div>
    </div>
</div>
<script>
            function DeclineRequest(elm){
            console.log($(elm).attr('data-id'))
            console.log($(elm).attr('data-user'))
             $.ajax({
                 url: '/reject_request',
                 data: {
                     id: $(elm).attr('data-id'),
                     username: $(elm).attr('data-user')
                 },
                 type: 'POST',
                 success: function (res) {
                     var response = $.parseJSON(res)
                     if(response.status == 200)
                         location.reload()
                 },
                 error: function (error) {
                     console.log(error);
                 }
             });
         }

         function AcceptRequest(elm){
            console.log($(elm).attr('data-id'))
            console.log($(elm).attr('data-user'))
             $.ajax({
                 url: '/join_community',
                 data: {
                     id: $(elm).attr('data-id'),
                     username: $(elm).attr('data-user')
                 },
                 type: 'POST',
                 success: function (res) {
                     var response = $.parseJSON(res)
                     if(response.status == 200)
                         location.reload()
                 },
                 error: function (error) {
                     console.log(error);
                 }
             });
         }
</script>
{%endblock%}