
{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

 <br>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="{{url_for('admin')}}" class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
              </a>
              <a href="{{url_for('admin_community')}}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Community <span class="badge">{{ adminData.communities}}</span></a>
              <a href="{{url_for('admin_post')}}" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts <span class="badge">{{ adminData.posts}}</span></a>
              <a href="{{url_for('admin_users')}}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">{{ adminData.users}}</span></a>
              <a href="{{url_for('render_graph')}}" class="list-group-item"><span class="	glyphicon glyphicon-stats" aria-hidden="true"></span> Graph <span class="badge"></span></a> 
              <a href="{{url_for('render_billing')}}" class="list-group-item"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Billing <span class="badge"></span></a> 
            </div>

         
          </div>
          <div class="col-md-9">
            <!-- Community  Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Community Overview</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-4">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ adminData.users}}</h2>
                    <h4>Users</h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ adminData.communities}} </h2>
                    <h4>Communities</h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ adminData.posts}} </h2>
                    <h4>Posts</h4>
                  </div>
                </div>
              
              </div>
              </div>

              <!-- Latest Users -->
              <div class="panel panel-default">
                <div class="panel-heading">
          
                    <h3 class="panel-title">Requested Communitites</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" style="text-align: center">
                        <tr>
                            <th align="center">Name</th>
                            <th align="center">Created By</th>
                            <th align="center">Date</th>
                            <th align="center">Status</th>
                        </tr>
                        {% for community in listOfRequestedCommunitites %}
                        <tr>
                            <td>{{community.name}}</td>
                            <td>
                                {{community.created_by}}
                            </td>
                            <td>{{moment(community.creation_date).format('LLLL')}}</td>
                              <td>
                                  <a href = "{{'/approve_community/%s'% community.ID}}" class="btn btn-success">Approve</a>
                                  <a href = "{{'/decline_community/%s'% community.ID}}" class="btn btn-default">Decline</a>
                              </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="pull-right"><a href="/home"> Return </a></div>
        </div>
    </div>
</div>
<script>
    function Approve(elm) {
        console.log($(elm).attr('data-id'))
        $.ajax({
            url: '/approve_',
            data: {
                id: $(elm).attr('data-id')
            },
            type: 'POST',
            success: function (res) {
                var response = $.parseJSON(res)
                if(response.status == 200)
                    location.reload()
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
        function Decline(elm) {
            console.log($(elm).attr('data-id'))
            $.ajax({
                url: '/leave_community',
                data: {
                    id: $(elm).attr('data-id')
                },
                type: 'POST',
                success: function (res) {
                    var response = $.parseJSON(res)
                    if(response.status == 200)
                        location.reload()
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

</script>
      </div>
    </section>

    <!-- Modals -->

    <!-- Add Page -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Page Title</label>
          <input type="text" class="form-control" placeholder="Page Title">
        </div>
        <div class="form-group">
          <label>Page Body</label>
          <textarea name="editor" class="form-control" placeholder="Page Body"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Published
          </label>
        </div>
        <div class="form-group">
          <label>Meta Tags</label>
          <input type="text" class="form-control" placeholder="Add Some Tags...">
        </div>
        <div class="form-group">
          <label>Meta Description</label>
          <input type="text" class="form-control" placeholder="Add Meta Description...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}