{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{% if selectedUser %}
 Messaging with {{selectedUser}}
{% else %}
Select a Friend to Message
{% endif %}
{% endblock %}
{% block page_content %}
<div class=row>
    <div class="col-md-3 col-xs-4 " style="text-align:center; padding-right:0px;">
            Friends:
            <hr/>
            <ul class="listCommunities">
                {% for member in members %}
                <li class="btntype">
                    <a href="{{'/messages/%s'%member.username}}"><img src={{member.gravatar(size=256)}} alt="John"
                                     style="width:25px; border-radius: 50%;"> {{member.firstName | capitalize}}
                        {{member.lastName | capitalize}}</a>
                </li>
                {% endfor %}
            </ul>
    </div>
    <div class="col-md-8 " style="border-left: 1px solid;">
        {% if selectedUser %}
        <div class = "row" style="margin-left:5px">
        <form action="/messages/{{selectedUser}}" method="POST">
            <div style="margin-left:5px">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
        </div>
        <hr/>
        <div class="row">
            {% for message in conversations %}
            <div>
                {% if message['fromUserId'] == current_user.username %}
                <div class = "msg-box-sent">
                    <p class = "pull-right">
                        {{message['msg']}}
                    </p>
                    <p class="pull-right">
                        {{ moment(message['message_date']).fromNow() }} By {{message['fromUserId']}}
                    </p>
                </div>
                {% else %}
                <div class = "msg-box-received">
                    <p class = "pull-left">
                        {{message['msg']}}
                    </p>
                    <p class="pull-left">
                        {{ moment(message['message_date']).fromNow() }} By {{message['fromUserId']}}
                    </p>
                </div>
                {% endif %}
                <br/>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2>Select A Friend to Message</h2>
        {% endif %}
    </div>
</div>
{% endblock %}