{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
 
 <!--<div id="topbar">
  <a href="http://designshack.net">Back to Design Shack</a>
  </div>-->
  
  <div id="w">
    <div id="content" class="clearfix">
      <div id="userphoto"><img src="../static/images/avatar.png" alt="default avatar"  width="100px" height="100px"></div>
      <span><h1>{{g.user.firstName.capitalize()}} </h1> </span>
 

      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#bio" class="sel">Bio</a></li>
          <li><a href="#activity">Activity</a></li>
          <li><a href="#friends">Friends</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
      </nav>
      
      <section id="bio">
        <table class="table table-striped">
    <tbody>
      <tr>
        <td>Email</td>
        <td>{{ g.user.email }}</td>
      </tr>
      <tr>
       <td>Name </td>
        <td>{{ g.user.firstName }} {{ g.user.lastName }}</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td>{{ g.user.contact_number }}</td>
      </tr>
    </tbody>
  </table>
        
      </section>
      
      <section id="activity" class="hidden">
        {% for post in userposts %}
        <div class="activity">
        <p >@{{post.posted_date}} -  {{post.title}}</p>
        <p> {{post.content}}</p>
        </div>
        {% endfor %}
      </section>
      
      <section id="friends" class="hidden">
        <p>Friends list:</p>
        
        <ul id="friendslist" class="clearfix">
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> Username</a></li>
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
        </ul>
      </section>
      
      <section id="settings" class="hidden">
<div class="container"> 
 <h3>Edit Your Profile</h3>
  <form action="/profile" method="POST"  >
      {{form.hidden_tag()}}
      <table class="table table-striped">
          <tr>
              <td> {{wtf.form_field(form.email)}} </td>
          </tr>
          <tr>
              <td> {{wtf.form_field(form.contact)}}
          </tr>
             <tr>
            <td> {{wtf.form_field(form.firstname)}}
          </tr>
             <tr>
         <td> {{wtf.form_field(form.lastname)}}
          </tr>
              
      </table>
      <input type="submit" value="Save Changes">
     
  </form>
</div>




        
        </section>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});
</script>
{% endblock %}