{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Mails
{% endblock %}
{% block page_content %}
<div class=row>
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Reply to {{mail.sender}}</h1>
        </div>
        <div>
            <img src="{{ usersPic[mail.sender] }}" style="width: 25px; border-radius: 50%;">
            <a href="{{'/profile/%s'%mail.sender}}">
                <strong>From:</strong>  {{ mail.sender}} 
            </a>
            <div class="post-date">
                {{ moment(mail.timestamp).format('LLLL') }}
            </div>
        </div>
        <span class="post-title"><strong>Subject:</strong> {{mail.subject}}</span>
        <span class="post-category">{{mail.community}}</span>
        <div class="post-body"><strong>Message:</strong>  {{mail.msg | safe}}</div>
        <hr/>
        <div>
                {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}