<!doctype html>
<html>
 <head>
  <title>vis.js Graph demo</title>
  <script src="http://visjs.org/dist/vis.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
 <div id="graph"></div>
  <script type="text/javascript">
      function Approve() {
          $.ajax({
              url: '/network',
              type: 'GET',
              success: function (res) {
                  var response = $.parseJSON(res)
                  console.log(response["community"]);

                  var nodes = [];

                  for (i = 0; i < response["community"].length; i++) {
                      data = {id: response["community"][i][0], label: response["community"][i][1]}
                      nodes.push(data)
                  }
                  for (i = 0; i < response["user"].length; i++) {
                      data = {id: response["user"][i]["id"], label: response["user"][i]["name"]}
                      nodes.push(data)
                  }
                  nodes.push({id:0, label:"admin"})

// create an array with edges
var edges = [];

for (i = 0; i < response["user"].length; i++) {
    data = {from: response["user"][i]["id"], to: response["user"][i]["com"]}
    data_admin = {from: 0, to: response["user"][i]["com"]}
    edges.push(data)
    edges.push(data_admin)
}




 var container = document.getElementById('graph');
 var data = {
  nodes: nodes,
  edges: edges,
 };
 var options = {
     width: '800px',
     height: '400px'
 };
 var graph = new vis.Network(container, data, options);


              },
              error: function (error) {
                  console.log(error);
              }
          });

      }
document.getElementById("graph").innerHTML = Approve();
  </script>
 </body>
</html>
