{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %} {% from "includes/_formhelpers.html"
import render_field %}
<div class=row>
  <div class="col-md-2">
    <br/>
    <div class="card">
      <img src="../static/images/avatar.png" alt="John" style="width:25%; border-radius: 50%; margin:auto;">
      <h3>{{session.username}}</h3>
      <p class="title">CEO & Founder, Example</p>
    </div>

  </div>
  <div class="col-md-8">
    <form method="POST" action="/home">
      <br>
      <div class="form-group">
          {{form.hidden_tag()}}
          {{render_field(form.title, class="form-control")}}
      </div>
      <div class="row">
      <div class="col-md-10">  
      <div class="form-group" >
          {{render_field(form.body, class="form-control", id="editor")}}
      </div>
      </div>
      <div class="col-md-2"> 
          <div class="row">
            <div class="form-group">
                {{wtf.form_field(form.language)}}
            </div>
          </div> 
          <div class="row"> 
              <button class = "btn btn-md btn-primary btn-block" style="width: 90%">Submit</button>
          </div>
      </div>
      </div>
    </form>
  </div>

</div>

{% endblock %}