{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %} 
{% from "includes/_formhelpers.html"
import render_field %}
<br/>
<div class=row>
  <div class="col-md-3">

    <div class="card">
      <img src="../static/images/avatar.png" alt="John" style="width:25%; border-radius: 50%; margin:auto;">
      <h3>{{session.username}}</h3>
      <p class="title">CEO & Founder, Example</p>
    </div>
    <div class="box-community">
      <ul>
        {% for community in Communitites%}
        <li>{{community}}</li>
        {% endfor %}
      </ul>
    </div>

  </div>
  <div class="col-md-8">
    <form method="POST" action="/home" style="border: 1px solid black; padding:5px 10px; margin:5px 0px;">
      <div class="form-group">
          {{form.hidden_tag()}}
          {{render_field(form.title, class="form-control")}}
      </div>
      <div class="row" >
      <div class="col-md-10">  
      <div class="form-group" >
          {{render_field(form.body, class="form-control")}}
      </div>
      </div>
      <div class="col-md-2"> 
          <div class="row">
                {{wtf.form_field(form.category)}}
          </div> 
          <div class="row"> 
              <button class = "btn btn-md btn-primary btn-block" style="width: 88%">Post</button>
          </div>
      </div>
      </div>
    </form>
    {%for post in posts %}
    <div class="row">
      <div class = "postsCard">
        <span><img src="../static/images/avatar.png" alt="John" style="width:48px;height:48px;border-radius: 50%;"> {{post.author}}</span>
        <h6>Posted: {{post.posted_date}}</h6>
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>



{% endblock %}