{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {% from "includes/_formhelpers.html" import render_field %}
  <div class=row>
  <div class="col-xs-6 col-md-2">

<br>
<h6 style="text-align:center">User Profile Card</h6>

<div class="card">
  <img src="../static/images/avatar.png" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
</div>




  </div>
  <div class="col-xs-6 col-md-8">
  
    <form method="POST" action="">
        <br>
     <div class="form-group" >
     <input type ="text" class ="form-control" id = "title" placeholder="Enter Title">
    </div>
   <div class="form-group" >
    <input type ="text" class ="form-control" id = "editor" placeholder="Enter the Post">
  </div>

      <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>

    
  </div>


    <div class="col-xs-6 col-md-2">.col-xs-6 .col-md-4</div>
    
</div>

{% endblock %}


